
.edit-icon-container {
    margin-left: auto;
}

.edit-icon {
    width: 18px;
    height: 18px;
}


.trash-icon-container {
    margin-left: 10px;
}
.trash-icon {
    width: 18px;
    height: 18px;
}

